.title{
    text-align: left;
    background-color: black;
    color: white;
    padding: 10px;
}

.start{
    text-align: left;
    background-color: black;
    color:aqua;
    padding: 10px;
}
.subtitle{
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
}

.bottom{
    background-color: lightblue;
    color: purple;
    text-align: right;
    padding: 10px;
}