.container{
    height: 600px;
    width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.item1{
    padding: 10px;
    flex-direction: row;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2{
    padding: 10px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item3{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 600px;
}
.container img{
    width: 150px;
    height: 150px;
}
.title{
    text-emphasis: bold;
    text-align: center;
}
.bottom{
    text-decoration: underline;
    text-align: center;
}